@media screen and (min-width: 1400px) and (max-width: 1699px) {
  .sidebar_container {
    left: -300px;
  }
}

@media screen and (min-width: 1700px) {
  .sidebar_container {
    left: 0;
  }
}

.sidebar_container {
  width: 300px;
  height: 100vh;
  padding-bottom: calc(100% - 100vh);
  background-color: var(--navigation-background-color);
  color: var(--white-font-color);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  z-index: 5;
  transition: left 0.5s ease-out;
}

.sidebar_view {
  left: 0;
}

.logo_wrap {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #ccc;
  overflow: hidden;
}

.logo_wrap > img {
  width: 100%;
  height: 100%;
}

.title_nickname {
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: bold;
}

.menu_list {
  margin-top: 100px;
  width: 200px;
}

.menu_item {
  display: flex;
  justify-items: center;
  gap: 15px;
  cursor: pointer;
  color: #ccc;
  margin-bottom: 30px;
  text-decoration: none;
}

.menu_item > svg {
  width: 25px;
  height: 25px;
}

.menu_item > span {
  font-size: 20px;
}

.menu_mouse_over > svg,
.clicked_menu > svg {
  color: var(--foint-color);
}
.menu_mouse_over > span,
.clicked_menu > span {
  color: var(--white-font-color);
}

@media screen and (min-width: 1700px) {
  .hambuger_button_wrap {
    display: none;
  }
}

.hambuger_button_wrap {
  position: absolute;
  top: 10px;
  left: 310px;
  width: 300px;
}
